<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.food_delivery_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_food"
        android:label="Food Delivery"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food_Delivery_App"
        tools:targetApi="31">
        <activity
            android:name=".controller.AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.NewPassActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.ForgotPassActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.LaunchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>